@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
  --maincolor: #EFC3A4;
  --mainBlack: #0E0504;
  --mainBlack1: #000;
  --mainGrey: rgb(238, 238, 238);
  --mainWhite: #fff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:var(--main-color);
    font-size: 3rem;
}

.view{
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: var(--border-radius);
    color:var(--main-color);
    background: none;
    border:var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.view:hover{
    border-radius: var(--border-radius-hover);
    border:var(--border-hover);
}

.header{
    position: fixed;
    top:0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;
}

.header .logo{
    color:var(--main-color);
    font-size: 2.3rem;
}

.header .logo i{
    padding-left: .5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem;
    color:var(--main-color);
}

.header .btn{
    margin-top: 0;
}

#menu-btn{
    font-size: 3rem;
    color:var(--main-color);
    cursor: pointer;
    display: none;
}
.h1, h1 {
  font-size: 50px;
}
.store {
  background-color: #A4907C;
}


.btn-black {
  color: var(--mainBlack1) !important;
  border-color: var(--mainBlack1) !important;

}

.btn-black:hover {
  color: var(--maincolor) !important;
  background: var(--mainBlack1) !important;

}

.text-center {
  text-align: center!important;
}

.ml-auto, .mx-auto {
  margin-left: auto!important;
  padding-top: 55px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 5px solid #675D50;
  border-radius: 0.25rem;
}

.img-container{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.img-container:hover .store-item-icon{
  transform: translate(0,0);
}

.store-item-icon:hover{
  color:var(--mainWhite);
}

.store-img{
  transition: all 1s ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2);
}


.store-item-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background: var(--mainBlack);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.store-item-value{
  color: var(--mainBlack);
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  border-radius: 5px;
}
.eme{
  background-color: #846a53;;
}